[Interface]
PrivateKey = < PRIVATE_KEY >
ListenPort = < PORT >

Jc = < Jc >
Jmin = < Jmin >
Jmax = < Jmax >
S1 = < S1 >
S2 = < S2 >
S3 = < S3 > 
S4 = < S4 >
H1 = < H1 >
H2 = < H2 >
H3 = < H3 >
H4 = < H4 >
